@import "./components/form.scss";
@import "./components/button.scss";

.new-form-container {
  font-family: 'Raleway', sans-serif;
  margin: auto auto;
  margin-top: 120px;
  color: white;
  font-weight: 500;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border: 2px rgba(255, 255, 255, 0.6) solid;
  width: 50vw;
  padding: 36px;
}
